@import "/styles/scss/variables";

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.header {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed mix($dark-color, $light-color, 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .edit {
        background-color: mix($light-color, $info-color, 80%);
        color: $info-color;

        &:hover,
        &:focus {
            background-color: mix($light-color, $info-color, 70%);
        }
    }

    .delete {
        margin-right: auto;
        margin-left: 10px;
        background-color: mix($light-color, $error-color, 80%);
        color: $error-color;

        &:hover,
        &:focus {
            background-color: mix($light-color, $error-color, 70%);
        }
    }

    .edit,
    .delete {
        min-width: 0;
        padding: 10px 15px;
    }
}

.item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;

    &.success {
        .text {
            background-color: mix($light-color, $success-color, 85%);
        }

        .title {
            color: $success-color;
        }
    }

    &.error {
        .text {
            background-color: mix($light-color, $error-color, 85%);
        }

        .title {
            color: $error-color;
        }
    }

    &.warning {
        .text {
            background-color: mix($light-color, $warning-color, 85%);
        }

        .title {
            color: $warning-color;
        }
    }

    input {
        border: 1px solid mix($dark-color, $light-color, 15%);
        background-color: transparent;
        outline: none;
        padding: 5px;
        width: 100%;
    }
}

.text {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: mix($dark-color, $light-color, 5%);
    color: $text-color;
    border-radius: $border-radius;
}

.title {
    font-size: 16px;
    font-weight: 800;
    color: $title-color;
}