@import "/styles/scss/variables";

.notFound {
    width: 90%;
    padding: 20px;
    margin: 0 20px;
    border-radius: $border-radius;
    background-color: $light-color;
    font-size: 20px;
    font-weight: 800;
    color: $title-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba($dark-color, 15%);
}